@using Sandbox;
@using Sandbox.UI;
@using System
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="label-header inner-comp">BHOP</div>

	@if (!_ShowImageList)
	{
		<button class="button inner-comp" onclick="@(() => _ShowImageList = !_ShowImageList)">Start</button>
		<button class="button inner-comp" onclick="@ShowMenuSettings">Options</button>
		<button class="button inner-comp" onclick="@ResetConfig">Reset Config</button>
		<button class="button inner-comp" onclick="@PublishConfig">Publish Config</button>
		<button class="button inner-comp" onclick="@Exit">Exit</button>
	}
	else
	{
		<button class="button inner-comp" onclick="@(() => _ShowImageList = !_ShowImageList)">Back</button>

		<div class="image-list">
			@foreach (var item in ImageItems)
			{
				<button class="image-item" onclick="@(() => OnImageClick(item))">
					<img class="image-img" src="@item.GetIcon()" alt="@item.Name" />
					<div class="item-name">@item.Name</div>
				</button>
			}
		</div>
	}
</root>

@code
{
	protected override int BuildHash() => System.HashCode.Combine(Time.Now); /* Обновляется каждый тик */

	[Property] public bool ShowFull = false;
	private bool _ShowImageList = false;

	// Пример данных для списка
	private List<ImageItem> ImageItems = new List<ImageItem>
	{
		new ImageItem { Name = "Aqueous", SceneName = "map.bhop_aqueous" },
		new ImageItem { Name = "Atom", SceneName = "map.bhop_atom" },
		new ImageItem { Name = "Colorshit", SceneName = "map.bhop_colorshit" },
		new ImageItem { Name = "Nuke", SceneName = "map.bhop_nuke" },
		new ImageItem { Name = "Rally", SceneName = "map.bhop_rally" },
		new ImageItem { Name = "Swooloe", SceneName = "map.bhop_swooloe" },
	};

	private class ImageItem
	{
		public string Name { get; set; }
		public string SceneName { get; set; }

		public string GetIcon() => $"icons/{Name.ToLower()}.vtex";
	}

	private void ShowMenuChangeLevel(string SceneName)
	{
		Scene.LoadFromFile(SceneName);
		Log.Info($"Scene loaded: {SceneName}");
	}

	private void ShowMenuSettings()
	{
		Game.Overlay.ShowSettingsModal();
	}

	private void ResetConfig()
	{
		GameConfig.Reset();

		//entry.SetThumbnail(thumbnail);
	}

	private void PublishConfig()
	{
		var bitmap = new Bitmap(512, 512);
		bitmap.SetFill(Color.White);
		bitmap.DrawText(new TextRendering.Scope("Config Bhop 👽", Color.Random, 70), new Rect(60, 300), TextFlag.Center);

		var entry = Storage.CreateEntry("config");
		entry.Files.WriteJson("/config.json", GetConfig());
		entry.SetMeta("player", Game.SteamId);
		entry.SetThumbnail(bitmap);
		entry.Publish("My config");
	}

	private void Exit()
	{
		Game.Close();
	}

	//private Color Random

	private Dictionary<string, float> GetConfig()
	{
		Dictionary<string, float> config = new();

		config.Add("bhop_speed_multiplier", GameConfig.SpeedMultiplier);
		config.Add("bhop_maxspeed", GameConfig.MaxSpeed);
		config.Add("bhop_movespeed", GameConfig.MoveSpeed);
		config.Add("bhop_shiftspeed", GameConfig.ShiftSpeed);
		config.Add("bhop_crouchspeed", GameConfig.CrouchSpeed);
		config.Add("bhop_stopspeed", GameConfig.StopSpeed);
		config.Add("bhop_friction", GameConfig.Friction);
		config.Add("bhop_acceleration", GameConfig.Acceleration);
		config.Add("bhop_air_acceleration", GameConfig.AirAcceleration);
		config.Add("bhop_max_air_wish_speed", GameConfig.MaxAirWishSpeed);
		config.Add("bhop_jumpforce", GameConfig.JumpForce);

		return config;
	}

	private void OnImageClick(ImageItem item)
	{
		if (String.IsNullOrEmpty(item.SceneName)) return;

		Log.Info($"Clicked on: {item.Name}");

		ShowMenuChangeLevel("scenes/" + item.SceneName + ".scene");
	}
}
