@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="main">
		<div class="header">BHOP</div>
		<div class="menu">
			<div class="button" onclick="@(() => @ActionAny("das"))">Start</div>
			<div class="button" onclick="@(() => @ActionAny("t2"))">Settings</div>
			<div class="button" onclick="@(() => @ActionAny("qqqdsasdv"))">Exit</div>
		</div>
	</div>
</root>

@code
{

	[Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";

	protected override int BuildHash() => System.HashCode.Combine( MyStringValue );

	public void ActionAny(string a)
	{
		Log.Info(a);
	}
}
