@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="main">
		<div class="header">BHOP</div>
		<div class="menu">
			@if (_page == 0)
			{
				<div class="button" onclick="@ClickStart">Start</div>
				<div class="button" onclick="@ClickSettings">Settings</div>
				<div class="button" onclick="@ClickExit">Exit</div>
			} else if (_page == 1)
			{
				<div class="button" onclick="@ClickDefaultPage">Back</div>
				<div class="checkboxes-list">
					<Checkbox Label="Acceleration Air" OnToggled="@OnChangeAir" />
					<Checkbox Label="The Back End" OnToggled="@OnChangeBack" />
				</div>
			}
		</div>
	</div>
</root>

@code
{
	private int _hash = 0;
	private int _page = 0;
	protected override int BuildHash() => System.HashCode.Combine(_hash);

	protected override void OnStart()
	{

	}

	protected override void OnDestroy()
	{

	}

	private void ClickStart()
	{
		Log.Info("dsa");
	}

	private void ClickSettings()
	{
		_page = 1;
	}

	private void ClickExit()
	{
		Game.Close();
	}

	private void ClickDefaultPage()
	{
		_page = 0;
	}

	private void OnChangeAir(bool b)
	{
		Log.Info($"Air: {b}");
	}

	private void OnChangeBack(bool b)
	{
		Log.Info($"Back: {b}");
	}
}
